<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Hakkımızda</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="timeline">
                <li>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>1986</h4>
                            <h4 class="subheading">Köklü</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">1986 yılında kurulan şirketimiz 31 yıldır asansör sektörüne hizmet vermeye devam etmektedir ve bundan sonra da gelişen, büyüyen ve teknolojiyi yakından takip eden tecrübe birikimi olan, konusunda uzman elemanlara sahip bir şirket olarak sektörde vazgeçilmezliğini koruyacaktır.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>ISO 9001</h4>
                            <h4 class="subheading">Kaliteli</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Firmamız ISO 9001 kalite güvence belgesiyle tescillenmiştir.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Hizmet Yelpazesi</h4>
                            <h4 class="subheading"></h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Arıza servisi, Bakım servisi, Montaj ekibi, Plan/Proje mühendislik hizmetleri, Toptan/Perakende malzeme satış</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Ürün Yelpazesi</h4>
                            <h4 class="subheading"></h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Kabin, Kapı, Hidrolik Sistemler, Tavan, Taban Döşeme, Butonlar, Kumanda Pano, Makina</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-image">
                    <a href="#contact" style="color:white;"><h4>Bize
                      <br>şimdi
                      <br>ulaşın!</h4>
                    </a>
                  </div>
                </li>
            </ul>
        </div>
    </div>
  </div>
</section>