 <!-- Portfolio Modals -->
 {% for item in site.data.portfolio %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ item.modal-id }}" tabindex="-1" aria-labelledby="portfolioModalLabel{{ item.modal-id }}" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content border-0 rounded-4 shadow">
                <div class="modal-header border-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center p-5">
                    <h2 class="display-5 fw-bold mb-4" id="portfolioModalLabel{{ item.modal-id }}" style="color: #{{ site.data.template.color.primary }};">{{ item.title }}</h2>
                    <img src="img/portfolio/{{ item.img }}" class="img-fluid rounded-4 mb-4" alt="{{ item.alt }}">
                    <p class="lead text-muted mb-4">{{ item.description }}</p>
                    <ul class="list-inline mb-4">
                        <li>Kategori: <span class="fw-bold text-dark">{{ item.category }}</span></li>
                    </ul>
                    <button type="button" class="btn btn-primary rounded-pill px-5 py-2 fw-bold" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
