<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Hizmetlerimiz</h2>
          <h3 class="section-subheading text-muted">Berk Asansör'ün müşterilerine sunduğu hizmetler</h3>
        </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Arıza ve Bakım servisi</h4>
        <p class="text-muted"></p>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Montaj ekibi</h4>
        <p class="text-muted"></p>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Plan/Proje mühendislik hizmetleri</h4>
        <p class="text-muted"></p>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-tag fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Toptan/Perakende malzeme satış</h4>
        <p class="text-muted"></p>
      </div>
    </div>
  </div>
</section>