
body{
//  background-image : url(../Resources/main_bg.jpg);
//  background-image : url(../Resources/bg.jpg);
//  background-image : url(../green-back2.jpg);
//  background-image : url(../img/bg/bg132.jpg);
//  background-image : url(../img/bg/bg342.jpg);
//  background-image : url(../img/bg/regal_duvar_texture.jpg);
//  background-image : url(../img/bg/bggg1.jpg);
//  background-image : url(../img/bg/horizon-bg.jpg);
//    background-image : url(../img/bg/bg_guzel.jpg);
//background-image : url(../img/bg/BackgroundRenkli.jpg);
//background-image : url(../img/bg/bg_body_ms.jpg);
background-image : url(../img/bg/bg_body.jpg);

}

p, h2, h3{
    color:white;
}

#arkasiBeyazP{
    color:gray;
}

#arkasiSiyahP{
    color:white;
}

div{
    //border:1px solid black
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:180px;   /* Height of the footer */
   background:#6cf;
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}

.footer, .push {
height: 180px;
clear:both;
}

